/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Tetris styling
Author: tyrannogina */

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: black;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.9
}

.main-container {
  background-color: black;
  max-width: 100%;
  padding: 1px; /* Padding to avoid border collapse of game-area*/
}

.game-area {
  position: absolute;
  height: 80vh;
  width: 80vw;
  background-color: grey;
  margin: 7rem 10vw;
  border-radius: 1 rem;
}

.panel {
  position: absolute;
  float: left;
  height: 100%;
}
.panel-left {
  width: 24vw;
  border:solid 1px red;
}
.panel-center {
  width: 32vw;
  margin-left: 24vw;
  border:solid 1px orange;
}
.panel-right {
  width: 24vw;
  margin-left: 56vw;
  border:solid 1px turquoise;
}

.button {
  position: absolute;
  padding: 1rem;
  font-size: 2rem;

}
#play-button {
  background-color: red;
  margin-top: 95%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px green;
}

.instructions ul {
  padding: 1rem;
}

.author {
  position:fixed;
  right: 0;
  bottom: 0;
  display: inline-block;
  margin: 1rem; /* adjust as needed */
}
.author img {
  display: block;
  width: 4rem;
  height: 4rem;
  vertical-align: top;
  margin: auto;
}
.author figcaption {
  text-align: center;
  color: white;
}
